body {
    background-color: darkslategray;
    font-family: monospace;
    color:white;
    font-size:22px;
    overflow:hidden;
    margin:0px; padding:0px;
    transition: 0.6s;
}

game * {
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
}



ball {
    background: black;
    border-radius: 10%;
    filter: invert(0%);
    transform: rotate(0deg);
}

h1 {
    font-size: 20vw;
}

startgame {
    margin-left: 25vw;
    margin-top: 15vw;
    font-size: 10vw;
    color: rgb(34, 34, 71);
    filter: hue-rotate(0);
    cursor: pointer;
    font-weight: 100;
}

startgame:hover {
    filter: hue-rotate(200deg);
    font-weight: 1000;
    transition: 0.5s;
}

p {
    margin-left: 25vw;
    margin-top: 15vw;
    font-size: 1.5vw;
}

player {
    background: rgb(219, 183, 22);
    border-radius: 25%;
    height: 100px; width: 100px;
}